{% extends "mainapp/base.html" %}

{% block content %}
<body>


<div class="container_homepage">
  <h2>Matches</h2>
  <p>Enjoy your time motherfucker diahane</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Username</th>
        <th class="text-center">Hobbies in common</th>
      </tr>
       <form method='POST' class ="form" action="{% url 'register' %}">
        {% csrf_token %}
      <select id="age" class="form-control">       
                                <option selected>Age</option>
                                <option value="0">Under 30</option>
                                <option value="1">30-50</option>
                                <option value="2">Over 50</option>
      </select>
        </form>
    </thead>
    <tbody>
     {% for username, hobby in members %}
      <tr>
        <td class ="usernames" value={{username}} >{{username}}</td>
        <td>{{hobby}}</td>
          <td>
              <form>
            {% csrf_token %}
              <button style="width:100px"  class="match" id = {{forloop.counter}} value="{{username}}">Match</button>
              </form>
          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
{% endblock %}
