{% extends "mainapp/base.html" %}

{% block content %}
<body>


<div class="container_homepage">
  <h2>Matches</h2>
  <p>Enjoy your time motherfucker diahane</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-center">Username</th>
        <th class="text-center">Hobbies in common</th>
      </tr>
    </thead>
    <tbody>
     {% for username, hobby in members %}
      <tr href ='{{member.username.url}}'>
        <td>{{username}}</td>
        <td>{{hobby}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
{% endblock %}
