{% extends "mainapp/base.html" %}

{% block content %}
	<span class='info'>&#8658; You must be logged in to view this page.</span>
	<br>
	<br>
		<ul class='menu'>
		{% if loggedin %}
        <li><a href="{% url 'logout' %}">Log out</a></li>
		{% else %}
		  <li><a href="{% url 'signup' %}">Sign up</a></li>
		  <li><a href="{% url 'login' %}">Log in</a></li>
		{% endif %}
	</ul>
	<br>
	<span class='main'>
		Welcome to {{ appname }}, please sign up and/or log in to join in.
	</span>
	<br>
{% endblock %}
