{% extends "mainapp/base.html" %}

{% block content %}
<div class="container_welcome">
	<h2 class='welcome_heading'>Welcome to HobMatch</h2>
	<br>
	<br>

		{% if loggedin %}
		<form>
		  <button  class="btn btn-warning" formaction="{% url 'logout' %}">Log out</button>
		</form>
		{% else %}
		<form>
		  <button style="width:100px" class="btn btn-warning" formaction="{% url 'login' %}">Log in</button>

		  <button  style="width:100px" class="btn btn-warning" formaction="{% url 'signup' %}">Sign up</button>
		</form>


		{% endif %}
		<br>

	<span class='welcome_subheading'>
		Welcome to {{ appname }}, please sign up and/or log in to join in.
	</span>
	<br>
</div>
{% endblock %}
