{% extends "mainapp/base.html" %}

{% load staticfiles %}

{% block content %}
   <div class='main'>
    <div class="welcome">
    <br>
    </div>
           <!-----Log in container---->
        <div class="container_login">
            <!-----Log in sub_container---->
        <div class="sub_container_login">
            {% if loggedin %}
            <h1 id="Sub_container_title">You are Logged in! </h1>
        </div>
            <br>
            <!-----Logged in Form---->
		<form >
            <p class="logged_p"> Start meeting new people:</p>
            <button  style="width:100px" class="btn btn-warning" formaction="{% url 'homepage' %}"> Homepage</button>
            <br>
            <p class="logged_p">Visit or Edit your profile:</p>
            <button  style="width:100px" class="btn btn-warning" formaction="{% url 'profile' %}"> Profile</button>
            <br>
            <p class="logged_p">Log out and be lonely:</p>
            <button style="width:100px" class="btn btn-warning" formaction="{% url 'logout' %}">Log out</button>
		</form>
           </div>
       {% else %}

            <h1 id="Sub_container_title">Login </h1>
            <br>
            <!-----Login Form---->
           <form method='POST' action="{% url 'login' %}">
           	{% csrf_token %}
               <input class="login_field" placeholder="Username" type='text' maxlength='16' id='logusername' name='username'>
               <br><br><br>
               <input class="login_field" placeholder="Password" type='password' maxlength='16' name='password'><br>
               <br>
               <input type='submit' class="btn btn-warning" value='Login'/>
           </form>
       {% endif %}
   </div>
{% endblock %}
