{% extends "mainapp/base.html" %}

{% load staticfiles %}

{% block content %}
   <div class='main'>
       {% if loggedin %}
           You are now logged in.
            <br>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>

           <br>
       {% else %}

    <div class="welcome">
        <!-----Welcome Sentences---->
    <h1> </h1>
    <br>
    </div>
           <!-----Login container---->
        <div class="container_login">
            <!-----Login sub_container---->
        <div class="sub_container_login">
            <h1 id="Sub_container_title">Login </h1>
        </div>
            <br>
            <!-----Login Form---->
           <form method='POST' action="{% url 'login' %}">
           	{% csrf_token %}
               <input class="login_field" placeholder="Username" type='text' maxlength='16' id='logusername' name='username'>
               <br><br><br>
               <input class="login_field" placeholder="Password" type='password' maxlength='16' name='password'><br>
               <br>
               <input type='submit' class="btn btn-warning" value='Login'/>
           </form>
           </div>
       {% endif %}
   </div>
{% endblock %}
