{% extends "mainapp/base.html" %} {% load static %} {% block content %}

<div class='main'>
    <!-----------Container-------->
    <div class="container_profile">
    <div class="sub_container_signup">
    <header class="heading"> My Matches </header>
    </div>
        <!-----------Profile Information-------->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Username</th>
                    <th class="text-center">Hobbies in common</th>
                    <th class="text-center">Unmatch</th>
                </tr>

                {% csrf_token %}
                <div class="col-2m-12">
                    <div class="col-xs-4">

            </thead>
            <tbody id="tbody_id">
                {% for username, hobby in match %}
                <tr class="clickable-row" data-href="{{username}}/">
                    <td class="usernames">{{username}}</td>
                    <td>
                        {% for hob in hobby %} {{hob}} {% endfor %}
                    </td>
                    <td>
                        <button style="width:100px" class="unmatch" id={ {forloop.counter}} value="{{username}}">Unmatch</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}