{% extends "mainapp/base.html" %} {% load static %} {% block content %}

<div class='main'>
    <div class="welcome">
        <!-----Welcome Sentences---->
        <h1>Hello {{ fullname }}! This is your profile page </h1>

    </div>
    <!-----------Container-------->
    <div class="container_profile">
    <div class="sub_container_profile1">
        <!-----------Profile Information-------->
        <div class="row ">

        <h3 id="information_title1">Profile information</h3>
            <br>
            <div class="col-sm-12">
            <!-----------Profile Pic-------->
            <div class = col-xs-4>
                {% if profile.image %}

                <img id='profile-img' height=150 src='{{profile.image.url}}'></img>
                {% else %}

                <img id='profile-img' height=150 src="{% static 'mainapp/profile-image.jpg' %}"></img>
                {% endif %}
            </div>
            <!-----------Information-------->
            <div class="col-xs-8">
                <br>
                <progress id="progressBar" value="0" max="100" style="width:150px;display:none;"></progress>
                <h1 class="username" align="left"> Full name: {{fullname}} </h1>
                <h2 class="username" align="left"> Age: {{age}} </h2>
                <h2 class="username" align="left"> Email: {{email}}</h2>
                <h2 class="username" align="left"> Username: {{username}} </h2>
            </div>
            </div>

        </div>
         <br>
</div>

<div class="sub_container_profile2">
         <!-----Edit Profile---->

        <form id='upload_form' method='POST' action="{% url 'profile' %}" enctype='multipart/form-data'>
            {% csrf_token %}

            <div class="row ">
            <h3 id="information_title2">Edit profile </h3>
            <br>
                <!--- For Name---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="fullname">Full Name :</label>
                        </div>
                        <div class="col-xs-8">
                            <!-----To show first and last name together, fullname needs to be quoted---->
                            <input type="text" name="fname" id="fname" value="{{fullname}}" class="form-control">
                        </div>
                    </div>
                </div>

            <!-----Username---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="username">Username :</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" name="uname" id="uname" placeholder="{{username}}"  value="{{ username}}"  class="form-control last" required readonly>
                    </div>
                </div>
            </div>
            <!-----email---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="mail">Email :</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="email" name="email" id="email" value={{email}} class="form-control">
                    </div>
                </div>
            </div>
            <!-----Password---->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-xs-4">
                        <label class="password">Password :</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="password" name="password" id="password" placeholder="Enter your New Password" class="form-control">
                    </div>
                </div>
            </div>
            <!----------- For Hobby-------->
            <div class="col-sm-12"><br>
                        <div class ="row">
                           <div class="col-xs-4 ">
                              <label class="hobby">Hobbies:</label>
                           </div>
                            <div class="col-xs-4 ">
                           <select name ="hobby" id="option-group-edit" class="option-group-demo" multiple="multiple">
                              <optgroup label="Outdoor">
                                             {% for out_hobby in outdoor %}
                                 <option value="{{ out_hobby }}">{{ out_hobby }}</option>
                                             {% endfor %}
                              </optgroup>
                              <optgroup label="Indoor">
                                 {% for in_hobby in indoor %}
                                 <option value="{{ in_hobby }}">{{ in_hobby }}</option>
                                             {% endfor %}
                              </optgroup>

                           </select>
                                    </div>
                           <div class="col-xs-4">
                                 <input type="submit" value="Edit" class="btn btn-warning"/>
                                    </div>
                           </div>
                        </div>
        </form>
         <!-----End form---->
</div>

        </div>

    </div>
    {% endblock %}