{% extends "mainapp/base.html" %}


{% block content %}

<body>
<div class="welcome" id="welcome_heading">
   <header>JOIN US TODAY</header>
   <header> start matching people with your same hobbies</header>
</div>
<div class="container_signup">
<div class="sub_container_signup">
   <!---heading---->
<header class="heading" > REGISTER</header>
</div>
<!---Form starting---->
 <form class="signup_form" method='POST' action="{% url 'register' %}"  enctype='multipart/form-data'>
      {% csrf_token %}
      {% if image %}
      <img id='profile-img' height=150 src='{{image.url}}'></img>
      {% else %}

      {% endif %}
   <div class="row ">
      <!--- For Name---->
      <div class="col-sm-12">
         <div class="row">
            <div class="col-xs-4">
               <label class="fullname">Full Name :</label>
            </div>
            <div class="col-xs-8">
               <input type="text" name="fname" id="fname" placeholder="Enter your First Name" class="form-control " required>
               </div>
            </div>
         </div>
         <!--- For username---->
         <div class="col-sm-12">
            <div class="row">
               <div class="col-xs-4">
                  <label class="username">Username :</label>
               </div>
               <div class ="col-xs-8">
                  <input type="text" name="uname" id="uname" placeholder="Enter your Username" class="form-control last" required>
                  </div>
               </div>
            </div>
            <!-----For date of birth---->
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-xs-4">
                     <label class="age" >Date of Birth :</label>
                  </div>
                  <div class="col-xs-8"   >
                     <input type="text" name ="dob"id="datepicker" class="form-control" required placeholder="Enter your date of birth" >
                     </div>
                  </div>
               </div>
            <!-----For email---->
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-xs-4">
                     <label class="mail" >Email :</label>
                  </div>
                  <div class="col-xs-8"   >
                     <input type="email" name="email"  id="email"placeholder="Enter your email" class="form-control" required >
                     </div>
                  </div>
               </div>
               <!-----For Password---->
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-xs-4">
                        <label class="password">Password :</label>
                     </div>
                     <div class="col-xs-8">
                        <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" required>
                        </div>
                     </div>
                  </div>
                  <!----------- For Gender-------->
                  <div class="col-sm-12">
                     <div class ="row">
                        <div class="col-xs-4 ">
                           <label class="gender">Gender:</label>
                        </div>
                        <div class="col-xs-4 male">
                           <input type="radio" name="gender"  id="gender" value="M">Male</input>
                        </div>
                        <div class="col-xs-4 female">
                           <input type="radio"  name="gender" id="gender" value="F" >Female</input>
                        </div>
                     </div>
                            <!----------- For Hobby-------->
                     <div class="col-sm-12"><br>
                        <div class ="row">
                           <div class="col-xs-3 ">
                              <label class="hobby">Hobbies:</label>
                           </div>
                                    <div class="col-xs-3 ">
                           <select name ="hobby" id="option-group-signup" class="option-group-demo" multiple="multiple">
                              <optgroup label="Outdoor">
                                             {% for out_hobby in outdoor %}
                                 <option value="{{ out_hobby }}">{{ out_hobby }}</option>
                                             {% endfor %}
                              </optgroup>
                              <optgroup label="Indoor">
                                 {% for in_hobby in indoor %}
                                 <option value="{{ in_hobby }}">{{ in_hobby }}</option>
                                             {% endfor %}
                              </optgroup>

                           </select>
                                    </div>
                        <!----------- Profile image-------->
                           <div class="col-xs-6">
                               <label class="picture_label">Profile image:</label>
                               <label class="click_image">Choose file</label>
                               <input type="file" name="img_file" class="click_image" id="hide_file" required/>
                               </div>
                        <!----------- Sign in Button -------->
                            <div class="col-sm-12"><br>
                                <div class ="row" id="profile_img">
                                        <br>
                                    <input type="checkbox" name="terms"  required><p class="agree_terms">confirm that you agree for your<br> email to be shared inside HobMatch.<br></p>
                                 <input type="submit" class="btn btn-warning" id="register_button" value="Register"/>


                                </div>
                            </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </body>


{% endblock %}