{% extends "mainapp/base.html" %}

{% block content %}
    <div class="container_welcome">
<div class="animation">
  <p class="welcome_heading" id="error_message">Congratulations {{ username }}!<br> Your account has been created </p>
  <p class="welcome_subheading">Start matching people with similar hobbies</p>
    <h3 class="welcome_subsubheading"> Please log in to start </h3>

		<form>
            <button style="width:150px" class="btn btn-warning" formaction="{% url 'login' %}">Login</button>
            &nbsp;&nbsp;
		</form>
</div>

{% endblock %}