{% extends "mainapp/base.html" %} {% load static %} {% block content %}

<div class='main'>
    <div class="welcome" id="welcome_heading">
        <!-----Welcome Sentences---->
        <header>You have matched with {{ fullname }}! <br>Here you can see his details</header>

    </div>
    <!-----------Container-------->
    <div class="container_profile">
    <div class="sub_container_profile1">
        <!-----------Profile Information-------->
        <div class="row ">
        <header class="heading">Profile information</header>
        <br>
            <div class="col-sm-12">
                <!-----------Profile Pic-------->
            <div class = col-xs-4>
      {% if image %}
      <img id='profile-img' height=150 src={{image.url}}></img>
      {% else %}
      {% endif %}
            </div>
            <!-----------Information-------->
            <div class="col-xs-8" id="profile_information">
                <h2 class="userprofile" align="left"> Full name: {{fullname}} </h2>
                <h2 class="userprofile" align="left"> Age: {{age}} </h2>
                <h2 class="userprofile" align="left"> Email: {{email}}</h2>
                <h2 class="userprofile" align="left"> Username: {{username}} </h2>
                <h2 class="userprofile" align="left"> Gender: {{gender}} </h2>
            </div>
            </div>
        </div>
    </div>
        <!-----------User hobbies-------->
        <div class="sub_container_profile2">
        <div class="col-sm-12">
            <div class="row ">

            <header class="heading"> {{ fullname }}'s hobbies </header>
            <br>
            <div class = col-xs-1>
                <ul class="list_hobbies " id="list">
                 {% for hobby  in hobbies %}

                    <li class="userprofile" align="left">  {{hobby}} </li>
                {% endfor %}
                    </ul>
            </div>
    </div>
        </div>

        </div>

    </div>
    {% endblock %}