/*-----Background-----*/
 body{
     background-image: linear-gradient(180deg, #340e41, #180e41 );
     background-repeat:no-repeat;
     background-size:cover;
     width:100%;
     height:150vh;
     overflow:auto;
     font-family: Montserrat!important;
     color: white;

}
/*-----for border----*/
 .container{
     background-image: linear-gradient(1800deg, #340e41, #180e41 );
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     border: 1px solid white;
     margin-top: 30px;
     max-width: 510px;
     padding-top: 10px;
     height: 400px;
}



  /*------------For Profile---------*/
 .gianni{
    border: none;
    height: 2.5px;
    color: black;
    background-color: black;
     padding-right:0px!important;

}
 #information_title{
     padding-top: -10px;
     margin-top: -5px;
     color: white;
     font-size: 30px;
     font-weight: bold;

 }

 .container2{
     background-image: linear-gradient(1800deg, #340e41, #180e41 );
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     border: 5px solid black;
     border-radius: 20px;
     margin-top: 30px;
     padding-right:20px;
     max-width: 550px;
     padding-top: 30px;
     height: 520px;

}



 .boot{
     color:white;
}

 .container_homepage{
     background-image: linear-gradient(1800deg, #340e41, white);
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center !important;
     opacity: 0.8;
     border: 1px solid white;
     margin-top: 30px;
     padding-right:20px;
     max-width: 900px;
     padding-top: 30px;
     height: 900px;
 }

  /*------------For Index Page (Welcome page)---------*/


.container_welcome{
     background-image: linear-gradient(1800deg, #340e41, #180e41 );
     border-style: 1px solid grey;
     margin: 0 auto;
     text-align: center;
     opacity: 0.8;
     margin-top: 30px;
     padding-right:20px;
     max-width: 550px;
     padding-top: 30px;
     height: 300px;
}
 .welcome{
     color: white;
     margin: 0 auto;
     text-align: center;
     margin-top: 0px;
     opacity: 0.8;
     max-width: 700px;
     padding-top: -100px;
}

 .welcome_heading{
        color:mediumpurple;

 }

 .welcome_subheading{
         color: white;
 }



 /*------------Only on mobile---------*/
@media only screen
and (max-device-width: 600px)
 {
    .welcome{
        margin-top: 0px;
    }
}



/*--- for label of username and fullname---*/
 .username{
     margin-left: 1px;
     font-size: 14px;
     color: white;
     margin-top: 10px;
}
 .fullname{
     margin-left: 1px;
     font-size: 14px;
     color: white;
     margin-top: 5px;
}
 #uname{
     margin-top:5px;
}
/*---for heading-----*/
 .heading{
     text-decoration:bold;
     text-align : center;
     font-size:30px;
     color:white;
     padding-top:10px;
}
/*-------for email----------*/
 #email{
     margin-top: 5px;

}

 .mail{
     margin-left: 32px;
     color: white;
     font-size: 14px;
     margin-top: 13px;

}

/*-----------for Password--------*/

 .pass{
     color: white;
     margin-top: 9px;
     font-size: 14px;
     margin-left: 6px;
     margin-top: 9px;
}
 #password{
     margin-top: 6px;
}
 .password{
     color: white;
     font-size: 14px;
     margin-left: 4px;
     margin-top: 8px;
 }

/*--------------for Gender---------------*/

 .gender {
     color: white;
     font-size: 14px;
     margin-left: 23px;
     margin-top: 8px;
}
/*---------- for Input type--------*/
 .col-xs-4.male{
     color: white;
     font-size: 13px;
     margin-top: 9px;
}
 .col-xs-4.female {
     color: white;
     font-size: 13px;
     margin-top: 9px;

     padding-right: 60px;
}

 .hobby{
     color:white
 }


 /*---------- Submit button hover animation--------*/


 .btn.btn-warning:hover {
     box-shadow: 2px 1px 2px 3px #99ccff;
     background:#5900a6;
     color:#fff;
     transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;
}


/*-----multi select button for hobbies, position fixed----*/
span.multiselect-native-select{
    position: static;


}


/*----- within the multi select button for hobbies,styling----*/
span.multiselect-native-select select{
    overflow:hidden!important;
    border:0!important;
    height:1px!important;
    margin:-1px -1px -1px -3px!important;
    padding:0!important;
    width:1px!important;
    left:50%;
    color:white;
}

.multiselect-container{
    list-style-type:none;
    padding:0;

}


.multiselect-container.dropdown-menu{
    background-image: linear-gradient(1800deg, #56176B, #180e41 );
    color:white;
}
.multiselect-container .input-group{
    margin:5px;

}
.multiselect-container .multiselect-reset .input-group{
    width:93%
}
.multiselect-container>li{
    padding:0
}
.multiselect-container>li>a.multiselect-all label{
    font-weight:700;
}
.multiselect-container>li.multiselect-group label{
    margin:0;
    padding:3px 30px;
    height:100%;
    font-weight:700;
}
.multiselect-container>li.multiselect-group-clickable label{
    cursor:pointer
}
.multiselect-container>li>a{
    padding:0
}
.multiselect-container>li>a>label{
    margin:0;
    height:100%;
    cursor:pointer;
    font-weight:400;
    color:white;
    padding:3px 20px 3px 40px
}
.multiselect-container>li>a>label.checkbox,.multiselect-container>li>a>label.radio{
    margin:0
}
.multiselect-container>li>a>label>input[type=checkbox]{
    margin-bottom:5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;

}
.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{
    padding:3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{
    margin-left:-20px;
    margin-right:0
}

li.multiselect-item.multiselect-group {
     background:#5900a6;
     margin:0px;
}

.dropdown-menu>.active>a {
    background-color:transparent !important;
}


.multiselect-container>li :hover {
    background-color:transparent !important;
    transform: scale(1.1);
}

/*----- button multiple selection of hobbies, this is needed in order to avoid showing the javascript loading----*/
#option-group-demo
{
   display: none
}

/*-----gender radio buttons----*/
input[type="radio"], input[type="checkbox"]{
    margin-right:3px !important;
}